<header class="header">
  <div class="header-top">
    <div class="logo-irctc">
      <a target="_blank" class="logo-big" href="https://www.irctc.co.in/nget/train-search"><img src="assets/irctc-logo.png" alt="IRCTC"></a>
      <a target="_blank" class="logo-small" href="https://www.irctc.co.in/nget/train-search"><img src="assets/irctc-smaller-logo.png" alt="IRCTC"></a>
    </div>
    
    <h1 class="page-title">Counter Ticket Services</h1>
    
    <div class="logo-cris">
      <a target="_blank" class="logo-big" href="https://cris.org.in/"><img src="assets/cris-logo.png" alt="CRIS Logo"></a>
      <a target="_blank" class="logo-small" href="https://cris.org.in/"><img src="assets/cris-smaller-logo.jpg" alt="CRIS Logo"></a>
    </div>
  </div>

  <div class="header-bottom">
    <div class="languages">
      <button class="lang-btn">English</button>
      <button class="lang-btn">हिंदी</button>
    </div>

    <div class="separator"></div>
    
    <div class="date-time">
      <span class="date">{{navDate() }}</span>
      <span class="time">[{{ navTime()}}]</span>
    </div>
    
    
  </div>
</header>