<div class="cancellation-procedure" id="procedure-section">
  <div class="procedure-container">
    <div class="section">
      <h3 class="top-title">{{translate.translate('procedureTitle')}}</h3>
      <ol class="procedure-list">
        <li>{{translate.translate('proc1')}}</li>
        <li>{{translate.translate('proc2')}}</li>
        <li>
          {{translate.translate('proc3')}}
        </li>
        <li>{{translate.translate('proc4')}}</li>
        <li>
          {{translate.translate('proc5')}}
        </li>
        <li>
          {{translate.translate('proc6')}}
          <b
            >{{translate.translate('proc6bold')}}
          </b>
        </li>
        <li><b>
          {{translate.translate('proc7')}}</b>
          <ul class="sub-list">
            <li>
              {{translate.translate('proc7a')}}
            </li>
            <li>
              {{translate.translate('proc7b')}}
            </li>
          </ul>
        </li>
      </ol>
    </div>

    <div class="section">
      <h3 class="bottom-title">{{translate.translate('rulesTitle')}}</h3>
      <ol class="rules-list">
        <li>
          {{translate.translate('rule1')}}
        </li>
        <li>
          {{translate.translate('rule2')}}
        </li>
        <li>
          {{translate.translate('rule3')}}
        </li>
        <li>
          {{translate.translate('rule4')}}
        </li>
        <li><b>
          {{translate.translate('rule5')}}</b>
          <ul class="sub-list">
            <li>
              {{translate.translate('rule5a')}}
            </li>
            <li>
              {{translate.translate('rule5b')}}
            </li>
          </ul>
        </li>
        <li>
          {{translate.translate('rule6')}}
        </li>
        <li>
          {{translate.translate('rule7')}}
        </li>
        <li>
          {{translate.translate('rule8')}}
        </li>
      </ol>
    </div>
  </div>
</div>
