<div class="cancellation-procedure">
  <div class="procedure-container">
    <div class="section">
      <h3 class="top-title">Counter Ticket Cancellation Procedure</h3>
      <ol class="procedure-list">
        <li>Enter PNR Number, Train number along with Captcha.</li>
        <li>Select check box to confirm that rules and procedure are read.</li>
        <li>
          After click on submit an OTP will be sent on mobile number given at the time of booking,
          enter the received OTP and click submit.
        </li>
        <li>After the OTP is validated PNR details will be displayed on the screen.</li>
        <li>
          After verifying the details Click on 'Cancel Ticket' for full cancellation. Refund amount
          due will be displayed on the screen.
        </li>
        <li>
          An SMS will be sent with PNR and refund details.
          <b
            >Sample format: "Your PNR xxxxxxxxxx has been cancelled. Collect refund amt xxxxx from
            journey commencing station or nearby satellite PRS locations. Ref. Terms & conditions"
          </b>
        </li>
        <li><b>
          For tickets cancelled (including return journey tickets) up to 4 hours for the confirmed
          tickets and up to thirty minutes for RAC/waitlisted tickets before the scheduled departure
          time as prescribed in the refund rules and changes made from time to time: Collection of
          Refund of cancelled PRS counter tickets through IRCTC website or 139 is permitted from any
          PRS counters of Indian Railways by surrendering original journey ticket. Collection of
          refund amount beyond this time limit is permitted at journey commencing station or nearby
          satellite PRS locations identified by Zonal Railways. Please check the convenience of
          collecting refund from journey commencing station before cancelling your ticket.</b>
          <ul class="sub-list">
            <li>
              During first two hours of the opening of PRS counters on the next day for the tickets
              for the trains whose scheduled departure time is (i) between 1801 hours and 0600
              hours.
            </li>
            <li>
              Upto 4 hours after the scheduled departure of the train during the working hours of
              PRS counters/current counters/special counters where cancellation is permitted round
              the clock on the tickets for the trains whose scheduled departure time is (i) between
              0601 hours and 1800 hours.
            </li>
          </ul>
        </li>
      </ol>
    </div>

    <div class="section">
      <h3 class="bottom-title">Counter Ticket Cancellation Rules</h3>
      <ol class="rules-list">
        <li>
          This may be applicable only in case valid mobile number has been given at the time of
          booking.
        </li>
        <li>
          Cancellation of tickets and refund of fare may be permitted for PRS counter tickets in
          normal circumstances only and not in case of late running of trains/cancellation of train
          etc.
        </li>
        <li>
          Online cancellation shall be permitted only upto 4 hours before the scheduled departure of
          the train if ticket is fully confirmed.
        </li>
        <li>
          Online cancellation shall be permitted only upto 30 minutes before the scheduled departure
          of the train if ticket is RAC/Waitlist.
        </li>
        <li><b>
          For tickets cancelled (including return journey tickets) up to 4 hours for the confirmed
          tickets and up to thirty minutes for RAC/waitlisted tickets before the scheduled departure
          time as prescribed in the refund rules and changes made from time to time: Collection of
          Refund of cancelled PRS counter tickets through IRCTC website or 139 is permitted from any
          PRS counters of Indian Railways by surrendering original journey ticket. Collection of
          refund amount beyond this time limit is permitted at journey commencing station or nearby
          satellite PRS locations identified by Zonal Railways. Please check the convenience of
          collecting refund from journey commencing station before cancelling your ticket.</b>
          <ul class="sub-list">
            <li>
              During first two hours of the opening of PRS counters on the next day for the tickets
              for the trains whose scheduled departure time is (i) between 1801 hours and 0600
              hours.
            </li>
            <li>
              Upto 4 hours after the scheduled departure of the train during the working hours of
              PRS counters/current counters/special counters where cancellation is permitted round
              the clock on the tickets for the trains whose scheduled departure time is (i) between
              0601 hours and 1800 hours.
            </li>
          </ul>
        </li>
        <li>
          Passenger details (Viz.name, age, gender, booking status, current status) and journey
          details will be displayed on the website.
        </li>
        <li>
          Once the passenger confirms full cancellation of PNR will be done and PNR will be marked
          as Cancelled but not refunded in the system. Seat/berth will be released. Refund amount
          due will also be displayed to the passenger on website.
        </li>
        <li>
          All the privilege/duty pass/PTOs/complimentary pass tickets may be allowed to be cancelled
          through website. In the case of pass zero refund is permissible however, for validity of
          the pass for fresh booking the passenger shall approach the counter to get the pass
          re-validated by marking the same cancelled against the earlier booked tickets as per
          prescribed rule. PTO's tickets are issued on 1/3rd of the total basic fares and normal
          cancellation charge is applicable in these tickets also. Therefore in many cases ticket
          value on PTOs is less than the cancellation charges therefore passengers may or may not
          cancel the tickets therefore cancellation across IRCTC website may be allowed in the case
          of PTOs also.
        </li>
      </ol>
    </div>
  </div>
</div>
