.main-container {
  display: flex;
  max-width: 1500px;
  gap: 20px;
  padding: 0 10px;
  margin: 20px 10px;
}

.content-area {
  flex: 1 1 62%;
  background-color: #9f4d4d;
}

.sidebar {
  flex: 1 1 38%;
  background-color: #1ba4ad;
}

@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
  }
  
  .content-area,
  .sidebar {
    flex: 1;
  }
}