.main-container {
  display: flex;
  max-width: 1600px;
  gap: 20px;
  padding: 0 10px;
  margin: 20px 10px;
}

.content-area {
  flex: 1 1 62%;
}

.sidebar {
  flex: 1 1 38%;
}

@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
  }

  .content-area,
  .sidebar {
    flex: 1;
  }
}
