<div class="details-container">
  <div class="details-section">

      @if (isLoading()) {
      <div style="text-align: center; padding: 50px;">
        <p>Loading ticket details...</p>
      </div>
    }
      @if (!isLoading() && ticketData()) {

    @if (passenger1cancelled() || passenger2cancelled()) {
    <div class="success-message">
      {{ translate.translate('cancellationSuccess') }}
    </div>
    }

    <h2 class="section-title">{{ translate.translate('ticketDetails') }}</h2>

    <div class="ticket-info-grid">
      <div class="info-column">
        <div class="info-row">
          <span class="label">{{ translate.translate('pnrNumber') }}</span>
          <span class="value">{{ ticketData()!.pnr  }}</span>
        </div>
        <div class="info-row">
          <span class="label">{{ translate.translate('trainNumber') }}</span>
          <span class="value">{{ ticketData()!.trainNumber }}</span>
        </div>
        <div class="info-row">
          <span class="label">{{ translate.translate('fromStation') }}</span>
          <span class="value">{{ ticketData()!.fromStationName }}</span>
        </div>
        <div class="info-row">
          <span class="label">{{ translate.translate('quota') }}</span>
          <span class="value">{{ ticketData()!.quota}}</span>
        </div>
        <div class="info-row">
          <span class="label">{{ translate.translate('boardingStation') }}</span>
          <span class="value">{{ ticketData()!.boardingStationName}}</span>
        </div>
        <div class="info-row">
          <span class="label">{{ translate.translate('bookingAmount') }}</span>
          <span class="value">{{ ticketData()!.bookingAmount}}</span>
        </div>
        <div class="info-row">
          <span class="label">{{ translate.translate('voucherAmount') }}</span>
          <span class="value">0</span>
        </div>
        <div class="info-row">
          <span class="label">{{ translate.translate('rtcAmount') }}</span>
          <span class="value">0</span>
        </div>
      </div>

      <div class="info-column">
        <div class="info-row">
          <span class="label">{{ translate.translate('journeyDate') }}</span>
          <span class="value">{{ ticketData()!.journeyClass}}</span>
        </div>
        <div class="info-row">
          <span class="label">{{ translate.translate('trainName') }}</span>
          <span class="value">{{ ticketData()!.trainName }}</span>
        </div>
        <div class="info-row">
          <span class="label">{{ translate.translate('toStation') }}</span>
          <span class="value">{{ ticketData()!.toStationName}}</span>
        </div>
        <div class="info-row">
          <span class="label">{{ translate.translate('journeyClass') }}</span>
          <span class="value">{{ ticketData()!.journeyClass}}</span>
        </div>
        <div class="info-row">
          <span class="label">{{ translate.translate('reservationUpto') }}</span>
          <span class="value">{{ ticketData()!.toStationName}}</span>
        </div>
      </div>
    </div>

    <h3 class="section-header">{{ translate.translate('passengerDetails') }}</h3>
    <div class="passenger-details">
      <table class="details-table">
        <thead>
          <tr>
            <th>{{ translate.translate('slNo') }}</th>
            <th>{{ translate.translate('name') }}</th>
            <th>{{ translate.translate('age') }}</th>
            <th>{{ translate.translate('gender') }}</th>
            <th>{{ translate.translate('bookingStatus') }}</th>
            <th>{{ translate.translate('currentStatus') }}</th>
            @if (!isCancelled()){
            <th class="select-column">{{ translate.translate('select') }}</th>
            }
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>{{ ticketData()!.passengers[0].name}}</td>
            <td>{{ ticketData()!.passengers[0].age}}</td>
            <td>{{ ticketData()!.passengers[0].gender}}</td>
            <td>{{ ticketData()!.passengers[0].bookingStatus}}</td>
            <td>{{ passenger1cancelled() ? 'CAN/' : 'CNF/' }}</td>
            @if (!passenger1cancelled()) {
            <td><input class="check-box" [formControl]="passenger1selected" type="checkbox" /></td>
            }
          </tr>
          <tr>
            <td>1</td>
            <td>{{ ticketData()!.passengers[1].name}}</td>
            <td>{{ ticketData()!.passengers[1].age}}</td>
            <td>{{ ticketData()!.passengers[1].gender}}</td>
            <td>{{ ticketData()!.passengers[1].bookingStatus}}</td>
            <td>{{ passenger2cancelled() ? 'CAN/' : 'CNF/' }}</td>
            @if (!passenger2cancelled()) {
            <td><input class="check-box" [formControl]="passenger2selected" type="checkbox" /></td>
            }
          </tr>
        </tbody>
      </table>
    </div>

    <div class="form-buttons">
      @if (!isCancelled()) {
      <button [disabled]="passenger1cancelled() && passenger2cancelled()" (click)="onCancelTicket()" class="btn-submit">
        {{ translate.translate('submit') }}
      </button>
      } @if(passenger1cancelled() || passenger2cancelled()) {
      <button class="btn-print" (click)="onPrint()">
        {{ translate.translate('printTicket') }}
      </button>
      }
      <button (click)="onBack()" class="btn-back">
        {{ translate.translate('back') }}
      </button>
    </div>
  }
  </div>
</div>
